@font-face {
    font-family: "northdenregular";
    src: url("./assets/Fonts/northdenrough-free-webfont.woff") format("woff2"),
      url("northden-free-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "northden";
    src: url("./assets/Fonts/northden-free-webfont.woff2") format("woff2"),
      url("./assets/Fonts/northdenrough-free-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Gotham;
    src: url(./assets/Fonts/GothamBook.ttf);
    /* font-weight: bold; */
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}

.c-scrollbar_thumb {
    display: none;
}

#main {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#video{
    width: 100%;
    /* height: 100%; */
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: red;   */

}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}
.maincontainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#nav {
  width: 100%;
  height: 100px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
  /* position: fixed;  */
  /* top: 0; */
  /* background-color: red; */
  padding: 0 100px;

}

#nav #logo img {
  width: 133px;
}

#nav #links .nav_btn {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: transparent;

  color: #aaa;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-right: 15px;
}

#nav #links .nav_btn:hover {
  background-color: #aaa;
  color: black;
}

#nav #links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav #links .hamburger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #aaa;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger svg{
     stroke: #aaaa;
}

#nav #links .hamburger:hover{
  background-color: #aaa;
}
.hamburger:hover svg{
    
    stroke: black;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 100px;

  /* background-color: red; */
}
.mainheader {
  position: absolute;
  bottom: 15%;
  width: 100%;
  flex-direction: column;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;

  /* background-color: azure; */
}

.heading1 {
  color: #aaa;
  font-family: northdenregular;
  font-size: 124px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.para {
  color: #aaa;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 87%;
  line-height: 25px;
}
.common_btn {
  background: #fff;
  border: none;
  border-radius: 12px;

  width: 200px;
  height: 60px;
}

.span-text1 {
  color: #000;
  font-family: Gotham;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page2 {
  width: 100%;
  height: 100vh;
  padding: 0 100px;

  /* background-color: green; */
}

.main_box {
  position: relative;
  display: flex;
  padding: 100px 0;
  width: 100%;
  gap: 20px;
}
.leftsides {
  position: relative;
  width: 530px;
  border-radius: 10px;
  height: 530px;
  /* width: 50%; */
  border: 2px solid #aaaaaa;
  
}
.gif_images {
  right: 10px;
  top: -10px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.rightsides {
  width: 50%;
}
.heading_1 {
  color: #aaa;
  font-family: northdenregular;
  font-size: 94px;
  font-style: normal;
  font-weight: 400;
  /* margin-left: 20px; */
  line-height: normal;
}
.common_para1 {
  color: #aaa;
  font-family: Gotham;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.common_btn1 {
  background: #fff;
   border-radius: 10px;
  width: 150px;
  height: 60px;
}
.span-text {
  color: #000;
  font-family: Gotham;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#page3{
    width: 100%;
    /* height: 100vh; */
    /* background-color: yellow; */
    padding: 0 100px;
    position: relative;
}
.third_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .heading_2 {
    color: #fff;
    font-family: Gotham;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .common_para2 {
    color: #fff;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
  }
  .cards {
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

  }
  
  .cards_list {
    /* border: 1px solid #aaa; */
    padding: 10px;
    width: 280px;
    list-style: none;
    border-radius: 10px;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
  .cards_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inner_flex {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .avter_images {
    width: 40px;
    border-radius: 5px;
  }
  .common_para3 {
    color: #fff;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .common_btn2 {
    border-radius: 5px;
    width: 50px;
    height: 30px;
    background: rgba(170, 170, 170, 0.15);
    border: none;
    box-shadow: 2px 2px 5px #c2c2c2;
  }
  .common_btn_text {
    color: #aaa;
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* background-color: red; */
  }
  .nft_images {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
  }
  .inner_padding {
    padding: 10px 0;
  }
  .common_padding {
    padding-top: 10px;
  }
  .common_para4 {
    color: #fff;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main_box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 0 100px;
    width: 100%;
  }
  
  #page4{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    position: relative;
    overflow: hidden;
    padding: 0 100px;
  }
  .banner_images {
    width: 700px;
  }

  #page5{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    padding: 0 100px;
  }

  .fouth_section {
    width: 100%;
  
    padding: 100px 0;
  }
  
  .fouth_section::-webkit-scrollbar {
    overflow-x: hidden;
  }
  
  .heading_5 {
    color: #aaa;
    font-family: northdenregular;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #page6{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    position: relative;
  }
  .fifth_section {
    padding: 100px 0;
    text-align: center;
  }
  .common_para5 {
    color: #fff;
    font-family: Gotham;
    padding: 20px 0;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mysterybox_images {
    padding-top: 40px;
    width: 615px;
  }
  #page7{
    width: 100%;
    /* min-height: 100vh; */
    /* background-color: yellow; */
    position: relative;
    overflow: hidden;
    padding: 0 100px;
    margin-bottom: 10vh;
  }
  /* .six_section {
    padding: 100px 0;
  } */
  .six_box {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #aaa;
  }
  .common_para6 {
    color: #fff;
     /* color: red; */
    padding: 20px 0;
    font-family: Gotham;
    font-size: 25px;
    width: 60%;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
  }

  .input_box {
    width: 540px;
    height: 60px;

    margin-bottom: 20px;
    /* border: 1px solid #aaa; */
  }
  .input_box input{
    width: 540px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid #aaa;
    font-size: 2.5vh;
    color: #ffff;
    outline: none;
    margin-bottom: 20px;
  }
  .common_para7 {
    color: #aaa;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    padding: 25px 0;
  }
  .input_box1 {
    width: 540px;
    height: 60px;
  
    /* padding: 10px; */
    border-radius: 8px;
    background: #fff;
  }
  .common_para8 {
    color: #000;
    text-align: center;
    font-family: Gotham;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 25px 0;
  }
  #footer{
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
  }
  .footer_section {
    text-align: center;
    padding: 0 40px 100px 40px;
  }
  .footer_logo {
    width: 150px;
  }
  .common_para9 {
    color: #fff;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    padding: 25px 0;
  }
  .socials_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
  }
  .fb_images {
    width: 22px;
    cursor: pointer;
  }
  .footer-border {
    border-top: 1px solid rgba(170, 170, 170, 0.3);
  }
  
  .viewport_footer {
    position: relative;
    width: 100%;
  }
  .inner_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  .inner-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .inner_list-content {
    color: #fff;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    list-style: none;
  }
  
  /*--------*/
  .cta {
    background: #fff;
  
    
    text-decoration: none;
  
    transition: 1s;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fff;
  }
  
  .cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  span {
    transform: skewX(15deg);
  }
  
  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  /**************SVG****************/
  
  path.one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  path.two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
